<div ng-controller="CalcController">
    <div class="form-group col-sm-12 col-xs-12">
        <textarea data-autoresize id="equationInput"
                  class="form-control input-textarea {{invalidInput?'invalid-input':''}}" rows="1"
                  placeholder="Put your expression here." ng-model="equationText"
                  ng-trim="false" style="text-align:right;" ng-change="updateLocalHistory()"></textarea>
        <div class="calc-buttons-container{{fadeButtons?' fade' : ' default'}}" ng-click="setFocusOnTextArea()"
             ng-hide="buttonsHidden">
            <div class="col-xs-12 calc-button-container">
                <md-button class="md-raised calc-button md-warn blue-operation-button"
                           ng-click="showIntegralDialog()">e^x integral
                </md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button md-warn blue-operation-button"
                           ng-click="addSymbolToEquation('(')">(
                </md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button md-warn blue-operation-button"
                           ng-click="addSymbolToEquation(')')">)
                </md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button md-warn blue-operation-button"
                           ng-click="addSymbolToEquation(' rt ')">&radic;<span
                        style="text-decoration:overline;">&nbsp;</span></md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button md-warn blue-operation-button"
                           ng-click="addSymbolToEquation('^')">x<sup>n</sup></md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button grey-operation-button" ng-click="undoFromLocalHistory()"><span
                        class=" glyphicon glyphicon-chevron-left"></span></md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button grey-operation-button" ng-click="redoFromLocalHistory()"><span
                        class=" glyphicon glyphicon-chevron-right"></span></md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button grey-operation-button" ng-click="openHistory()"><span
                        class=" glyphicon glyphicon-time"></span></md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised md-warn calc-button blue-operation-button"
                           ng-click="addSymbolToEquation('&divide')">&divide;
                </md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(1)">1</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(2)">2</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(3)">3</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised md-warn calc-button blue-operation-button"
                           ng-click="addSymbolToEquation('&times')">&times
                </md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(4)">4</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(5)">5</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(6)">6</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised md-warn calc-button blue-operation-button"
                           ng-click="addSymbolToEquation('+')">+
                </md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(7)">7</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(8)">8</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(9)">9</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised md-warn calc-button blue-operation-button"
                           ng-click="addSymbolToEquation('-')">-
                </md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button grey-operation-button" ng-click="erase()"><span
                        class=" glyphicon glyphicon-erase"></span></md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button" ng-click="addSymbolToEquation(0)">0</md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised calc-button grey-operation-button" ng-click="addSymbolToEquation('.')">.
                </md-button>
            </div>
            <div class="col-xs-3 calc-button-container">
                <md-button class="md-raised md-primary calc-button equals-button" ng-click="calculate()">=</md-button>
            </div>
        </div>
        <div class="calc-buttons-container{{fadeHistoryButtons?' fade' : ' default'}}" ng-hide="historyButtonsHidden"
             style="height:600px; width: 100%; overflow:auto;">
            <md-list flex>
                <md-subheader class="md-no-sticky"><span class=" glyphicon glyphicon-time"></span> History
                </md-subheader>
                <md-list-item class="md-3-line" ng-repeat="historyElement in localHistory | reverse"
                              ng-click="setEquationTextAndHideHistory(historyElement.text)"
                              ng-if="localHistory.length > 1">
                    <div class="md-list-item-text" layout="column" style="overflow-wrap: break-word">
                        {{historyElement.text}}
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="closeHistory()" ng-if="localHistory.length === 1">
                    <div class="md-list-item-text" layout="column">
                        No history yet. Click this to close the history.
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>

