.input-textarea {
    resize: none;
    font-size: calc(15px + 1.5vw);
}

.equals-sign {
    font-size: calc(12px + 3vw);
    color: #ddd;
    text-align: center;
    line-height: 90px;
}

.calc-container {
    margin-top: 20px;
}

.calc-button {
    min-width: auto !important;
    margin: 1px 1px !important;
    width: 100%;
    height: 5vw;
    font-size: calc(12px + 2vw);
    color: #dddddd;
    text-transform: none !important;
}

.calc-button-container {
    padding: 1px !important;
}

.calc-buttons-container {
    margin-top: 10px;
}

.equals-button {
    background-color: rgb(81, 185, 37) !important;
}

.blue-operation-button {
    background-color: rgb(19, 166, 203) !important;
}

.grey-operation-button {
    background-color: #dddddd !important;
}

.result-success {
    border-color: rgb(81, 185, 37);
}

.error {
    border-color: rgb(200, 81, 37);
}

.default {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.fade {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

.md-bottom.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.md-toast-content {
    font-size: 30px !important;
    background-color: #dd3333 !important;
}

.invalid-input {
    border-color: #dd3333 !important;
    background-color: #ffdada;
}

.blue-btn-wrapper > .md-button:hover, .credentials-div > .md-button:focus, .credentials-div > .md-button:active {
    background-color: #0d86f4;
    border: 1px solid #dddddd;
    color: #dddddd;
    cursor: pointer;
}

.btn-wrapper > .md-button {
    background-color: #dddddd;
    text-transform: none !important;
    line-height: normal;
}

.clickable {
    cursor: pointer;
}