<md-dialog style="width: 30%">
    <form name="calcIntegral">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Calculate integral of exponential function.</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div style="margin-top: 20px" class="col-xs-12">
                <md-input-container style="width: 100%">
                    <input class="col-xs-12" ng-model="integral.intervalStart" placeholder="Interval start point"
                           name="intervalStart" required>
                    <div ng-messages="calcIntegral.intervalStart.$error">
                        <div ng-message="required">Interval start point is required.</div>
                    </div>
                </md-input-container>
                <md-input-container style="width: 100%">
                    <input class="col-xs-12" ng-model="integral.intervalEnd" placeholder="Interval end point"
                           name="intervalEnd" required>
                    <div ng-messages="calcIntegral.intervalEnd.$error">
                        <div ng-message="required">Interval end point is required.</div>
                    </div>
                </md-input-container>
                <md-input-container style="width: 100%">
                    <input class="col-xs-12" ng-model="integral.threadCount" placeholder="Number of threads"
                           name="threadCount" required>
                    <div ng-messages="calcIntegral.threadCount.$error">
                        <div ng-message="required">Number of threads is required.</div>
                    </div>
                </md-input-container>
                <md-input-container style="width: 100%">
                    <input class="col-xs-12" ng-model="integral.precision"
                           placeholder="Precision - number of sub-intervals" name="precision" required>
                    <div ng-messages="calcIntegral.precision.$error">
                        <div ng-message="required">Precision - number of sub-intervals is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <div class="{{calcIntegral.$invalid?'':'blue-btn-wrapper btn-wrapper'}}">
                <md-button class="clickable" ng-click="runCalculation(integral)" ng-disabled="calcIntegral.$invalid">
                    Run calculation.
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>